<form nz-form [formGroup]="merchantForm" (ngSubmit)="_submitForm()">
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
      <label for="merchantName" nz-form-item-required>
        <i class="anticon iconfont anticon-home"></i>
      </label>
    </div>
    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="isValid('merchantName')">
      <nz-input [nzSize]="'large'" formControlName="merchantName" [nzId]="'merchantName'" [nzPlaceHolder]="'商家名称'"></nz-input>
      <div nz-form-explain *ngIf="isValid('merchantName')">请输入商家名称</div>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
      <label for="contactName" nz-form-item-required>
        <i class="iconfont alibaba-account"></i>
      </label>
    </div>
    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="isValid('contactName')">
      <nz-input [nzSize]="'large'" formControlName="contactName" [nzId]="'contactName'" [nzPlaceHolder]="'联系人姓名'"></nz-input>
      <div nz-form-explain *ngIf="isValid('contactName')">请输入联系人姓名</div>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
      <label for="phoneNum" nz-form-item-required>
        <i class="anticon anticon-tablet"></i>
      </label>
    </div>
    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="isValid('phoneNum')">
      <nz-input-group [nzSize]="'large'" [nzCompact]="true">
        <nz-select formControlName="phoneNumPrefix" style="width: 30%;">
          <nz-option [nzLabel]="'+86'" [nzValue]="'+86'"></nz-option>
          <nz-option [nzLabel]="'+87'" [nzValue]="'+87'"></nz-option>
        </nz-select>
        <nz-input formControlName="phoneNum" [nzId]="'phoneNum'" style="width: 70%;" [nzPlaceHolder]="'手机号码'"></nz-input>
      </nz-input-group>
      <div nz-form-explain *ngIf="isValid('phoneNum')">请输入手机号码</div>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
      <label for="merchantLocation" nz-form-item-required>
        <i class="anticon anticon-environment"></i>
      </label>
    </div>
    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="isValid('merchantLocation')">
      <nz-input [nzSize]="'large'" formControlName="merchantLocation" [nzId]="'merchantLocation'" [nzPlaceHolder]="'商户所在地'"></nz-input>
      <div nz-form-explain *ngIf="isValid('merchantLocation')">请输入商户所在地</div>
    </div>
  </div>
  <div nz-form-item nz-row style="margin-bottom:8px;">
    <div nz-form-control nz-col [nzSpan]="14" [nzOffset]="6">
      <button nz-button [nzSize]="'large'" [nzType]="'primary'">确定</button>
    </div>
  </div>
</form>
