<nz-layout>
  <nz-header nzTheme="light" class="platform-header">
    <div nz-row [nzType]="'flex'" [nzJustify]="'space-between'">
      <div nz-col [nzSpan]="4">
        <label>活动信息审核</label>
      </div>
      <div nz-col [nzSpan]="8"></div>
      <div nz-col [nzSpan]="4">
        <nz-input [nzType]="'search'" class="right-element" [nzPlaceHolder]="'商家名字／编号'" [(ngModel)]="marchantKey" style="width: 200px;"
          (click)="refreshData($event)" (keypress)="filterActivities('marchantKey', '', $event)">
        </nz-input>
      </div>
    </div>
  </nz-header>
  <nz-content class="tab-content">
    <nz-spin [nzSize]="'large'" [nzSpinning]="loading" [nzTip]="loadingTip">
      <div class="nz-row-margin" nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="3">
          <label>活动类型</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="14">
          <nz-radio-group [(ngModel)]="condition.type">
            <label nz-radio-button *ngFor="let type of activtyTypes" [nzValue]="type.id" (click)="filterActivities('type', type.id, $event)">
              <span>{{type.value}}</span>
            </label>
          </nz-radio-group>
        </div>
      </div>
      <div class="nz-row-margin" nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="3">
          <label>活动状态</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="17">
          <nz-radio-group [(ngModel)]="condition.status">
            <label nz-radio-button *ngFor="let status of activtystatus" [nzValue]="status.id" (click)="filterActivities('status', status.id, $event)">
              <span>{{status.value}}</span>
            </label>
          </nz-radio-group>
        </div>
      </div>
      <div class="nz-row-margin card-list-content" *ngFor="let activity of activityList" nz-form-item nz-row style="background: #fff;"
        [nzType]="'flex'" [nzJustify]="'space-around'" [nzAlign]="'middle'">
        <div nz-form-label nz-col [nzSpan]="3">
          <app-upload-image [url]="" [readonly]="true" [uploadedFiles]="activity.image" [disabledPreview]="true"></app-upload-image>
        </div>
        <div nz-form-control nz-col [nzSpan]="17">
          <div class="nz-row-margin" *ngFor="let content of activity.content" nz-form-item nz-row>
            <div *ngIf="!content.value" nz-form-label nz-col [nzSpan]="14">
              <span>{{content.label}}</span>
            </div>
            <div *ngIf="!!content.value" nz-form-label nz-col [nzSpan]="2">
              <label>{{content.label}}:</label>
            </div>
            <div *ngIf="!!content.value" nz-form-control nz-col [nzSpan]="14">
              <span nz-form-text *ngIf="!content.options">{{content.value}}</span>
              <span nz-form-text *ngIf="content.options">{{content.value | lookup: content.options}}</span>
            </div>
          </div>
        </div>
        <div nz-form-control nz-col [nzSpan]="3">
          <button nz-button (click)="queryDetail(activity.id)">
            <span>查看</span>
          </button>
        </div>
      </div>
    </nz-spin>
  </nz-content>
</nz-layout>
