<nz-layout class="layout">
  <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab>
      <ng-template #nzTabHeading>
        商户基本信息
      </ng-template>
      <nz-content>
        <nz-collapseset>
          <nz-collapse [nzTitle]="'联系信息'" [nzActive]="true">
            <div *ngFor="let item of contact" class="nz-row-margin" nz-form-item nz-row>
              <div nz-form-label nz-col [nzSpan]="4">
                <label>{{item.label}}</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="14">
                <span nz-form-text>{{item.value}}</span>
              </div>
            </div>
          </nz-collapse>
          <nz-collapse [nzTitle]="'联系人身份证照片'" [nzActive]="true">
            <app-upload-image [url]="" [readonly]="true" [uploadedFiles]="IDImages"></app-upload-image>
          </nz-collapse>
          <nz-collapse [nzTitle]="'商户LOGO'" [nzActive]="true">
            <app-upload-image [url]="" [readonly]="true" [uploadedFiles]="LogoImages"></app-upload-image>
          </nz-collapse>
        </nz-collapseset>
      </nz-content>
    </nz-tab>
    <nz-tab>
      <ng-template #nzTabHeading>
        商户经营信息与资料
      </ng-template>
      <nz-header nzTheme="light" class="platform-header">
        公司经营信息
      </nz-header>
      <nz-content class="tab-content">
        <div *ngFor="let item of merchantInfo" class="nz-row-margin" nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="4">
            <label>{{item.label}}</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="14">
            <span nz-form-text *ngIf="_isString(item.value)">{{item.value}}</span>
            <span nz-form-text *ngIf="!_isString(item.value)">
              <app-upload-image [url]="" [readonly]="true" [uploadedFiles]="item.value"></app-upload-image>
            </span>
          </div>
        </div>
      </nz-content>
    </nz-tab>
    <nz-tab>
      <ng-template #nzTabHeading>
        收款账户
      </ng-template>
      <nz-header nzTheme="light" class="platform-header">
        绑定收款信息
      </nz-header>
      <nz-content class="tab-content">
        <div *ngFor="let item of accountInfo" class="nz-row-margin" nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="4">
            <label>{{item.label}}</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="14">
            <span nz-form-text *ngIf="_isString(item.value)">{{item.value}}</span>
            <span nz-form-text *ngIf="!_isString(item.value)">
              <app-upload-image [url]="" [readonly]="true" [uploadedFiles]="item.value"></app-upload-image>
            </span>
          </div>
        </div>
      </nz-content>
    </nz-tab>
  </nz-tabset>
</nz-layout>
