.main-menu {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .14), 0 0 2px 2px rgba(0, 0, 0, .098), 0 0 5px 1px rgba(0, 0, 0, .084);
  background: #fff;
  height: 48px;
}

.main-menu .logo {
  font-size: x-large;
  font-weight: 800;
  width: 20%;
  position: absolute;
}

.platform-header {
  background: #d0d0d0;
}

.platform-screen {
  width: 100%;
  height: 100%;
  min-height: 0;
  flex-direction: row;
  display: flex;
  flex: 1;
  line-height: 1.42857143;
  box-sizing: border-box;
}

app-menu-component {
  width: 100%;
}

.platform-screen .left-menu {
  width: auto;
  height: 100%;
  /* float: left; */
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  line-height: 1.42857143;
}

.platform-screen .left-menu ul {
  height: 95%
}

.platform-screen .left-menu ul li span {
  padding-right: 1rem;
}

.platform-screen .main-platform {
  width: 100%;
  height: 100%;
  /* float: left; */
  overflow-y: auto;
  flex-direction: column;
  display: flex;
  flex: 1;
  overflow: auto;
  line-height: 1.42857143;
  box-sizing: border-box;
}

.platform-screen .left-menu ul .collapse-button {
  margin-left: 1.5rem;
}

.cursor-pointer {
  cursor: pointer;
}

ul .right-menu-item {
  float: right;
  margin-right: 1rem;
}

ul .right-logout-item {
  width: 4rem;
  text-align: right;
  float: right;
  border-left: 1px #000 solid;
}

.right-element {
  float: right;
  margin: 1.1rem;
}

.nz-row-margin {
  margin-bottom: 1rem;
}

nz-tab-body {
  background: #fff;
}
nz-tab-body .tab-content {
  margin: 2%;
}

nz-layout .tab-content {
  margin: 2%;
}

nz-content .card-list-content {
  background:#fff;
}

.login-form {
  max-width: 300px;
  margin: 40px;
}

.login-edit-pwd {
  float: left;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}