<ul nz-menu nzMode="horizontal" nzTheme="dark">
  <li nz-menu-item>
    <i class="anticon anticon-api"></i>首页</li>
  <li nz-menu-item>
    <i class="anticon anticon-appstore"></i>表单组件</li>
  <li nz-menu-item>
    <i class="anticon anticon-setting"></i>数据组件</li>
  <li nz-menu-item>
    <i class="anticon anticon-question-circle"></i>信息交互组件</li>
  <li nz-menu-item>
    <i class="anticon anticon-swap"></i>信息交互组件</li>
</ul>
<nz-breadcrumb>
  <nz-breadcrumb-item>
    <i class="anticon anticon-home"></i>
    <span>Home</span>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a href="">
      <i class="anticon anticon-user"></i>
      <span>Application List</span>
    </a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a href="">
      <i class="anticon anticon-appstore"></i>
      <span>Application</span>
    </a>
  </nz-breadcrumb-item>
</nz-breadcrumb>
<router-outlet></router-outlet>
