<nz-spin [nzSize]="'large'" [nzSpinning]="loading" [nzTip]="loadingTip">
  <form nz-form [formGroup]="passwordForm" (ngSubmit)="_submitForm()">
    <div nz-form-item nz-row>
      <div nz-form-control nz-col [nzSm]="24" [nzXs]="36" nzHasFeedback [nzValidateStatus]="passwordForm.controls.oldPass" (ngModelChange)="updateConfirmValidator()">
        <nz-input [nzSize]="'large'" [nzType]="'password'" formControlName="oldPass" [nzId]="'oldPass'" [nzPlaceHolder]="'旧密码'">
          <ng-template #prefix>
            <i class="anticon anticon-lock"></i>
          </ng-template>
        </nz-input>
        <div nz-form-explain *ngIf="isValidField(passwordForm, 'oldPass', 'required')">请输入旧密码</div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-control nz-col [nzSm]="24" [nzXs]="36" nzHasFeedback [nzValidateStatus]="passwordForm.controls.newPass" (ngModelChange)="updateConfirmValidator()">
        <nz-input [nzSize]="'large'" [nzType]="'password'" formControlName="newPass" [nzId]="'newPass'" [nzPlaceHolder]="'新密码'">
          <ng-template #prefix>
            <i class="anticon anticon-lock"></i>
          </ng-template>
        </nz-input>
        <div nz-form-explain *ngIf="isValidField(passwordForm, 'newPass', 'required')">请输入新密码</div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-control nz-col [nzSm]="24" [nzXs]="36" nzHasFeedback [nzValidateStatus]="passwordForm.controls.confirmNewPass"
        (ngModelChange)="updateConfirmValidator()">
        <nz-input [nzSize]="'large'" [nzType]="'password'" formControlName="confirmNewPass" [nzId]="'confirmNewPass'" [nzPlaceHolder]="'新密码确认'">
          <ng-template #prefix>
            <i class="anticon anticon-lock"></i>
          </ng-template>
        </nz-input>
        <div nz-form-explain *ngIf="isValidField(passwordForm, 'confirmNewPass', 'required')">请输入新密码确认</div>
        <div nz-form-explain *ngIf="isValidField(passwordForm, 'confirmNewPass', 'confirm')">两次输入的密码不一致!</div>
      </div>
    </div>
    <div class="customize-footer">
        <button nz-button [nzSize]="'large'" [nzType]="'primary'">确定</button>
    </div>
  </form>
</nz-spin>
