<div class="platform-screen">
  <div class="left-menu">
    <ul nz-menu [nzMode]="'inline'" nzTheme='dark' [nzInlineCollapsed]="isCollapsed">
      <li style="margin-left: 1.5rem;">
        <span title class="cursor-pointer">
          <i class="anticon" [class.anticon-menu-unfold]="isCollapsed" [class.anticon-menu-fold]="!isCollapsed" (click)="toggleCollapsed()">
          </i>
        </span>
      </li>
      <li nz-menu-item routerLink="/menu/enter_merchant" routerLinkActive="ant-menu-item-selected">
        <span title>
          <i class="anticon anticon-bank"></i>
          <span>入驻商家管理</span>
        </span>
      </li>
      <li nz-submenu>
        <span title>
          <i class="anticon anticon-shop"></i>
          <span>商家待审核管理</span>
        </span>
        <ul>
          <li nz-menu-item>商家注册审核</li>
          <li nz-menu-item>收款账户审核</li>
          <li nz-menu-item>活动信息审核</li>
        </ul>
      </li>
      <li nz-menu-item>
        <span title>
          <i class="anticon anticon-book"></i>
          <span>订单管理</span>
        </span>
      </li>
      <li nz-menu-item>
        <span title>
          <i class="anticon anticon-pay-circle-o"></i>
          <span>支付管理</span>
        </span>
      </li>
      <li nz-menu-item>
        <span title>
          <i class="anticon anticon-usergroup-add"></i>
          <span>权限管理</span>
        </span>
      </li>
    </ul>
  </div>
  <div class="main-platform">
    <router-outlet></router-outlet>
  </div>
</div>
