<div class="platform-screen">
  <div class="left-menu">
    <ul nz-menu [nzMode]="'inline'" nzTheme='dark' [nzInlineCollapsed]="isCollapsed">
      <li style="margin-left: 1.5rem;">
        <span title class="cursor-pointer">
          <i class="anticon" [class.anticon-menu-unfold]="isCollapsed" [class.anticon-menu-fold]="!isCollapsed" (click)="toggleCollapsed()">
          </i>
        </span>
      </li>
      <li nz-menu-item routerLink="/menu/enter_merchant" routerLinkActive="ant-menu-item-selected">
        <span title>
          <i class="anticon anticon-bank"></i>
          <span>入驻商家管理</span>
        </span>
      </li>
      <li nz-submenu [nzOpen]="true">
        <span title>
          <i class="anticon anticon-shop"></i>
          <span>商家待审核管理</span>
        </span>
        <ul>
          <li nz-menu-item routerLink="/menu/merchant_approvement" routerLinkActive="ant-menu-item-selected">
            <span title>
              <i class="anticon anticon-edit"></i>
              <span>商家注册审核</span>
            </span>
          </li>
          <li nz-menu-item routerLink="/menu/shop_approvement" routerLinkActive="ant-menu-item-selected">
            <span title>
              <i class="anticon anticon-edit"></i>
              <span>商家门店审核</span>
            </span>
          </li>
          <li nz-menu-item routerLink="/menu/account_approvement" routerLinkActive="ant-menu-item-selected">
            <span title>
              <i class="anticon anticon-edit"></i>
              <span>收款账户审核</span>
            </span>
          </li>
          <li nz-menu-item routerLink="/menu/activity_approvement" routerLinkActive="ant-menu-item-selected">
            <span title>
              <i class="anticon anticon-edit"></i>
              <span>活动信息审核</span>
            </span>
          </li>
        </ul>
      </li>
      <li nz-submenu [nzOpen]="true">
        <span title>
          <i class="anticon anticon-red-envelope"></i>
          <span>商家结算管理</span>
        </span>
        <ul>
          <li nz-menu-item routerLink="/menu/statement_accounts" routerLinkActive="ant-menu-item-selected">
            <span title>
              <i class="anticon anticon-exception"></i>
              <span>商家对账单</span>
            </span>
          </li>
          <li nz-menu-item routerLink="/menu/settle_accounts" routerLinkActive="ant-menu-item-selected">
            <span title>
              <i class="anticon anticon-exception"></i>
              <span>商家日结算记录</span>
            </span>
          </li>
          <li nz-menu-item routerLink="/menu/manual_payment" routerLinkActive="ant-menu-item-selected">
            <span title>
              <i class="anticon anticon-pay-circle"></i>
              <span>手动付款</span>
            </span>
          </li>
        </ul>
      </li>
      <!-- <li nz-menu-item>
        <span title>
          <i class="anticon anticon-pay-circle-o"></i>
          <span>支付管理</span>
        </span>
      </li> -->
      <li nz-menu-item routerLink="/menu/authority_management" routerLinkActive="ant-menu-item-selected">
        <span title>
          <i class="anticon anticon-usergroup-add"></i>
          <span>权限管理</span>
        </span>
      </li>
      <li nz-menu-item routerLink="/menu/platform_user" routerLinkActive="ant-menu-item-selected">
        <span title>
          <i class="anticon anticon-user"></i>
          <span>平台用户管理</span>
        </span>
      </li>
    </ul>
  </div>
  <div class="main-platform">
    <router-outlet></router-outlet>
  </div>
</div>
