<nz-layout class="platform-screen">
  <nz-layout style="width: 70%;">
    <nz-content>
      <span class="login-background-image" alt="">
      </span>
    </nz-content>
  </nz-layout>
  <nz-layout>
    <span class="login-logo">
      <i class="anticon anticon-pay-circle"> </i> 喵喵掌柜后台管理
    </span>
    <nz-sider class="left-menu login-sider" [nzWidth]="400">
      <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="doLogin($event)">
        <div nz-form-item>
          <div nz-form-control [nzValidateStatus]="loginForm.controls.username">
            <nz-input formControlName="username" [nzPlaceHolder]="labels.login_account" [nzSize]="'large'" (keydown)="doLogin($event)">
              <ng-template #prefix>
                <i class="anticon anticon-user"></i>
              </ng-template>
            </nz-input>
            <div nz-form-explain *ngIf="util.isValid(loginForm, 'username', 'required')">{{labels.pls_login_account}}!</div>
          </div>
        </div>
        <div nz-form-item>
          <div nz-form-control [nzValidateStatus]="loginForm.controls.password">
            <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="labels.login_password" [nzSize]="'large'" (keydown)="doLogin($event)">
              <ng-template #prefix>
                <i class="anticon anticon-lock"></i>
              </ng-template>
            </nz-input>
            <div nz-form-explain *ngIf="util.isValid(loginForm, 'password', 'required')">{{labels.pls_login_password}}!</div>
          </div>
        </div>
        <div style="color: #f04134">{{loginResultText}}</div>
        <div nz-form-item>
          <div nz-form-control>
            <nz-spin [nzSize]="'large'" [nzSpinning]="loading" [nzTip]="loadingTip">
              <div style="line-height: 1rem;">
                <label nz-checkbox formControlName="remember">
                  <span class="login-form-forgot" style="color: #fff;">{{labels.remenber_me}}</span>
                </label>
                <!-- <a class="login-edit-pwd" (click)="changePassword($event)">{{labels.edit_pwd}}</a> -->
                <a class="login-form-forgot">{{labels.forgot_pwd}}?</a>
              </div>
              <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'">{{labels.login_submit}}</button>
            </nz-spin>
          </div>
        </div>
      </form>
    </nz-sider>
  </nz-layout>
</nz-layout>
