<nz-layout class="layout">
  <nz-header nzTheme="light" class="platform-header">
    <div class="nz-row-margin" nz-row>
      <div nz-col [nzSpan]="1">
        <label>商户: </label>
      </div>
      <div nz-col [nzSpan]="10">
        <nz-select style="width: 100%" nzAllowClear [nzPlaceHolder]="'请输入商户信息进行搜索'" [nzFilter]="false" [(ngModel)]="merchantId" (nzSearchChange)="searchMerchant($event)"
          [nzNotFoundContent]="'无法找到'" [nzShowSearch]="true" (click)="searchMerchant()" (nzOpenChange)="selectMerchant($event)">
          <nz-option *ngFor="let option of merchantOptions" [nzLabel]="option['fullName']" [nzValue]="option['merchantId']" [nzDisabled]="option['status']!=='activated'">
          </nz-option>
        </nz-select>
      </div>
      <div *ngIf="merchantOptionsLoading" nz-col [nzSpan]="1" style="position: absolute; left: 39%;">
        <i class="anticon anticon-loading anticon-spin"></i>
      </div>
    </div>
    <div *ngIf="merchantId" class="nz-row-margin" nz-form-item nz-row>
      <div *ngFor="let item of selectedMerchant; trackBy: trackById" nz-col [nzSpan]="5">
        <div class="nz-row-margin" nz-form-item nz-row>
          <div nz-col [nzSpan]="10">
            <label>{{item.label}}</label>
          </div>
          <div nz-col [nzSpan]="14">
            <span nz-form-text>{{item.value}}</span>
          </div>
        </div>
      </div>
    </div>
  </nz-header>
  <nz-content style="padding:0 50px;">
    <app-datatable *ngIf="merchantId" [columns]="columns" [dataSet]="data" [isPagination]="false" [isAjaxData]="false" [loading]="loading"></app-datatable>
  </nz-content>
</nz-layout>
